* {
  box-sizing: border-box;
}

section {
  padding: 30px 15px 0;
}

p, h2 {
  margin: 23px 0;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

label p {
  margin: 6px 0 23px;
}

p + p {
  margin-top: 15px;
}

form {
  text-align: left;
}

label {
  display: block;
}

input[type="text"] {
  width: 50px;
  line-height: 20px;
}

input[type="button"] {
  max-width: 100px;
  line-height: 20px;
}

.form-section {
  margin-bottom: 30px;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-section {
  padding: 15 15 15 15px;
}

.overview-section input,
.overview-section textarea {
  width: 100%;
}

.content-rating,
.content-streaming {
  flex-direction: row;
  text-align: center;
}

.content-rating {
  justify-content: center;
  padding-bottom: 10px;
}

.content-streaming {
  justify-content: space-evenly;
  padding-bottom: 20px;
  flex-direction: row;
}

.btn-border-black {
  border: 2px solid black;
}