* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

a {
  color: black;
  padding: 0;
}

.navigation a {
  padding: 10px;
}

h2 {
  margin: 0;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

.banner {
  padding: 75px 0 0 0;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.btn {
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.green {
  color: green;
  border: 2px solid green;
}

.red {
  color: red;
  border: 2px solid red;
}

.home {
  background-color: red;
  color: white;
}

section {
  min-height: 75px;
  padding: 30px 10px;
  background-color: #e1e1e1;
}

section:nth-child(odd) {
  background-color: #ffffff;
}