@import url("https://use.typekit.net/aeb3ejx.css");

* {
  box-sizing: border-box;
}

body {
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

main {
  color: #000000;
}

footer {
  padding: 1% 0;
  color: white;
  background-color: red;
}

header {
  padding: 2px 2px;
}

p {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 650px;
}

fieldset {
  flex-direction: row;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: .25em .5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-border-black {
  border: 2px solid black;
}