* {
  box-sizing: border-box;
}

nav,
footer {
  padding: 1% 5%;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  margin-bottom: 20px;
}